@{ 
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome!</h1>
    <p>
        <a asp-action="StudentForm">Student Form</a>
    </p>
    <p>
        <a asp-action="CourseForm">Course Form</a>
    </p>
    <p>
        <a asp-action="StudentLists">Student List</a>
    </p>
    <p>
        <a asp-action="CourseLists">Course List</a>
    </p>
    <p>
        <a asp-action="Summary">Summary</a>
    </p>
</body>
</html>